<div class="contenedor">
    <div class="contenedor__izquierda">
      <a href="#login"><img class="logo" src="/src/imagenes/mini_logo_fondo_blanco.png" alt="Logo" /></a>
      
      <form class="formulario formulario--registro" id="formRegistro">
        <h2 class="formulario__titulo">Registro</h2>
  
        <input class="formulario__input" type="text" id="documento" placeholder="Número de documento">
        <input class="formulario__input" type="text" id="nombre" placeholder="Ingrese un nombre">
        <input class="formulario__input" type="text" id="apellido" placeholder="Ingrese un apellido">
        <input class="formulario__input" type="email" id="correo" placeholder="Correo electrónico">
        <input class="formulario__input" type="password" id="contrasena" placeholder="Ingrese una contraseña">
        <input class="formulario__input" type="text" id="telefono" placeholder="Ingrese su número celular">
  
        <button class="boton boton--primario" type="submit">Registrarse</button>
      </form>
    </div>
  
    <div class="contenedor__derecha">
      <img class="contenedor__imagen" src="/src/imagenes/imagen_lateral.png" alt="Imagen decorativa" />
    </div>
  </div>