<div class="contenedor">
    <div class="contenedor__izquierda">
      <img class="logo" src="/src/imagenes/mini_logo_fondo_blanco.png" alt="Logo" />
  
      <form class="formulario formulario--login" id="login" action="#" autocomplete="off">
        <h2 class="formulario__titulo">Bienvenido</h2>
  
        <label class="formulario__label">Correo electrónico</label>
        <input class="formulario__input" type="text" name="email" id="email" />
  
        <label class="formulario__label">Contraseña</label>
        <input class="formulario__input" type="password" name="contrasena" id="contrasena" />
  
        <a href="#registro" id="goRegister" class="formulario__link">¿No tienes cuenta? Regístrate</a>
  
        <button class="boton boton--primario">Ingresar</button>
      </form>
    </div>
  
    <div class="contenedor__derecha">
      <img class="contenedor__imagen" src="/src/imagenes/imagen_lateral.png" alt="Imagen lateral" />
    </div>
  </div>